@font-face {
    font-family: bungee;
    src: url(fonts/BungeeSpice-Regular.ttf);
}
@font-face {
    font-family: lakeshor;
    src: url(fonts/LAKESHOR-webfont.ttf);
}
@font-face {
    font-family: airstream;
    src: url(fonts/Airstream-webfont.ttf);
}


:root {
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 14vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33)
}

body,html {
    height: 100%;
    
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(images/LW001.jpg); /* why this not working?*/
    background-color: rgb(249, 249, 244);
    
    

}

.logo {
    font-size: 2em;
    background-color: rgb(0, 0, 1);
    display: block;
    text-align: center;
    font-style: italic;
    font-family: bungee;
    letter-spacing: 3px;
    

}

.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    position: relative;

}

.details-image {
    width: 80vw;
    height: 70vw;
    border-radius: 25%;
    margin-top: 5vw;
    border: solid 1px rgb(15, 15, 14);
    box-shadow:  7px 4px 4px 2px rgb(138, 135, 133);
}

.details-title {
    display: block;
    font-style: oblique;
    font-size: 1.5em;
    font-family: lakeshor;
    text-transform: uppercase;
    margin-top: 1vw;
    position: absolute;
    left: 2vw;
    bottom: 3vw;
    

}

.thumbnails-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    padding-left: 0;
    
    margin-right: 3vw;
    

}

.thumbnails-item {
    max-width: var(--thumbnails-img-width);
    min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
    margin-top: 2.5vh;
    border: solid 1px rgb(15, 15, 14);
    border-radius: 25%;
    overflow: hidden;
    box-shadow:  7px 4px 4px 2px rgb(138, 135, 133);
    
    
}



.thumbnails-image {
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    display: block;

}

.thumbnails-title {
    display: block;
    text-align: center;
    height: var(--thumbnails-title-height);
    background-color: rgb(231, 140, 4);
    font-family: airstream;
    font-size: 3.5vw;

}

.thumbnails-anchor {
    text-decoration: none;
    color: rgb(18, 17, 18);
}
.thumbnails-item:hover {
    transform: rotate(10deg);
    
}

@media (min-width: 560px) {
    :root {
        --thumbnails-img-width: 16vw;
        --thumbnails-img-height: 11vw;
    }

    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 80vh;
        order: -1;
        justify-content: flex-start;
        padding-right: 5vw;             /* get some gap between list and scrollbar*/
    }

    .main-class {
        flex-direction: row;
        justify-content: space-around;

    }

    .details-image {
        width: 35vw;
        height: 30vw;

    }

    .details-container {
        justify-content: center;

    }
}

@media (min-width: 900px) {
    :root {
        --thumbnails-img-width: 14vw;       /*decrease thumbnails images for better view*/
        --thumbnails-img-height: 9vw
    }
    .logo {
        font-size: 3vw;
        font-family: bungee;
    }

    .details-container {

        justify-content: center;
        margin-right: 5vw;

    }

    .details-image {
        width: 45vw;
        height: 35vw;

    }

}